#heading{
    color: red;
    width: 1000px;
    font-size: 3em;
}
#about{color: rosybrown}
.intro{color: royalblue}
.date{color: seagreen}
.place{color: slateblue}
.mm{color: teal}
.nn{color: yellow}